{% extends 'homepage/wrapper.html' %} {% block head %}
<title>О разработчиках проекта</title>
{% endblock %} {% block content %}
<main>
    <div class="container-fluid text-center developers_section_1">
        <div class="row">
            <div class="developers_section_1_header">
                <div class="col-md-5 p-lg-5 mx-auto m-5">
                    <h1 class="display-4 font-weight-normal">Kangaroo</h1>
                    <p class="lead font-weight-normal">Проект, возникший в ходе обьеденения перспективных молодых людей, с целью научиться программировать.
                        Ведущие специалисты проекта (Роман и Макс) разработали сайт на котором вы находитесь…</p>
                    <a class="btn btn-outline-secondary" href="{% url 'contacts' %}" role="button">Связаться</a>
                </div>
            </div>


            <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 developers_section_2">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Роман Татаринов</h2>
                        <p class="lead"><i>Full-stack разработчик, основные языки программирования Python, PHP.<br /> Генеральный Директор</i>

                        </p>
                    </div>
                    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                </div>

                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Макс Фандо</h2>
                        <p class="lead"><i>Full-stack разработчик, основные языки прогроммирования: JavaScript, Python, PHP.<br /> Зам. Генерального Директора</i>

                        </p>
                    </div>
                    <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                </div>
            </div>

            <!-- <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="jumbotron">
                                <h1 class="display-4">
                                    <font face="Comic Sans MS">Поддержите проект</font>
                                </h1>

                                <p>
                                    Наши реквизиты:
                                    <br> - #123456
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->

        </div>
    </div>
</main>
{% endblock %}