<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>

<body>
    {% extends "homepage/wrapper.html" %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                    <span class="breadcrumb-item active">Контакты</span>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h5>Страница персональных данных для связи с ведущими специалистами.</h5>
                <br>
                <div align="center">
                    <li class="list-inline-item">
                        <a href="https://t.me/Lodhel" class="btn btn-primary btn-rounded">Роман в телеграм</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me/JuniorFM" class="btn btn-primary btn-rounded">Макс в телеграм</a>
                    </li>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}
</body>

</html>