<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О разработчиках проекта</title>
</head>
<body>
{% extends "homepage/wrapper.html" %}
{% block content %}
    <div class="container">
                    <div class="row">
                        <div class="col-md-12">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                <span class="breadcrumb-item active">О разработчиках проекта</span>
            </nav></div></div>
        </div>

    <div class="container"><div class="row">
<div class="col-md-12">
<table>
<tr>
<td width="15%">
<ul>
    <h6>Роман Татаринов</h6>
</ul>
</td>
    <td width="30%"><p>контент</p></td>

<td width="15%">
<ul>
    <h6>Макс Фандо</h6>
</ul>
</td>
<td width="30%"><p>контент</p></td>
</tr>
</table>
</div></div></div>
{% endblock %}

</body>
</html>