{% extends 'homepage/wrapper.html' %} {% block head %}

<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/post_detail/post_detail.css' %}">
</head>
{% endblock %}
<style>
    .imgpost{
        margin-left: 30%;
    }
</style>
<body>
    <main>
        {% block content %}
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                <span class="breadcrumb-item active">{{ post.title }}</span>
            </nav>
        </div>

        <div class="post">
            <div class="container">
                <h1>{{ post.title }}</h1>
                {% if post.image %}
                    <div class="container"><div class="row"><div class="imgpost">
                <img height="300px" src="{{ MEDIA_URL }}{{ post.image.url }}">
                </div></div></div>
                {% endif %}
            <div class="container">
                            <div class="row">
                <div class="row justify-content-md-center">
                    <div class="col-md-8"> <p></p>
                        <p>{{ post.body|linebreaksbr }}</p>
                        <div class="post_detail_menu"></div></div></div>

                        {% if post.date %}
                        <div class="container">
                            <div class="row">
                                <div class="date">
                                    {{ post.date }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes.min.js"></script> 
</body>

</html>