<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% extends 'homepage/wrapper.html' %}
    {% block content %}

<div class="container">
<div class="row">
    <div class="col-sm-12">
        <h3>Найденные результаты: {{ result.count }}</h3>
        {% for res in result %}
            <h4><a href="{{ res.get_absolute_url }}"></a> {{ res.title }}</h4>
        {% endfor %}
    </div>

</div>

        </div>


    {% endblock %}
</body>

</html>