<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<style>
    .search {
        margin-left: 30%;
    }
</style>


<body>
{% extends 'homepage/wrapper.html' %}
    {% block content %}

        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                <span class="breadcrumb-item active">Поиск</span>
            </nav>
        </div>

<div class="container">
<div class="row">
    <div class="col-sm-12">
    {% if result %}
        <h3>Найденные результаты: </h3><p></p>
        {% for res in result %}
            {% for r in res %}
                <h4><a href="{{ r.get_absolute_url }}">{{ r.title }}</a></h4>
                <h6>{{ r.body | truncatewords:20 }}</h6>
                <p></p>
            {% endfor %}
        {% endfor %}
    {% else %}
        <h3 align="center">Ничего не найдено!</h3>
        <h4>Возможно строка поиска была пустой, повторите запрос:</h4>
        <p></p>
        <div class="container"><div class="row"><div class="search">
            <form class="form-inline" action="/search/" method="get">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Введите запрос" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            </form>
        </div></div></div>
    {% endif %}
    </div>

</div>

        </div>


    {% endblock %}
</body>

</html>