<head>
    <meta charset="UTF-8">
    <title>Kangaroo</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/wrapper/wrapper.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons/button.css' %}">
</head>
<p></p>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-brand">
            <a href="#" class="navbar-brand">
                <img height="70" src="https://pp.userapi.com/c831108/v831108440/fd54e/m7wxWfEJ9SM.jpg">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>

             <form class="form-inline" action="/search/" method="get">
                 <input class="form-control mr-sm-2" type="text" name="q" placeholder="Введите запрос" aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
             </form>

        </div>
    </nav>


    <main>
        {% block content %}
        <div class=container>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Hello, world!</h1>
                        <p class="lead">Это простой пример блока с компонентом в стиле jumbotron для привлечения дополнительного внимания
                            к содержанию или информации.</p>
                        <hr class="my-4">
                        <p>Использются служебные классы для типографики и расстояния содержимого в контейнере большего размера.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>

                    <hr class="my-4">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>Лучшее за неделю</h2>
                    <ul>
                        <li type="none">posts</li>
                        <li type="none">posts</li>
                        <li type="none">posts</li>
                        <li type="none">posts</li>
                    </ul>
                    <hr class="my-4">
                </div>
            </div>
        </div>

        {% for post in posts reversed %}
        <div class=container>
            <div class="row">
                <div class="col-md-8">
                    <div class="post">

                        <div class="col-md-6 col-sm-1">
                            {% if post.image %}
                            <img width="150px" align="150px" src="{{ MEDIA_URL }}{{ post.image.url }}"> {% endif %}
                        </div>

                        <h2>{{ post.title }}</h2>
                        <div class="date">
                            <p>{{ post.date }}</p>
                        </div>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary btn-md">Читать…</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}

        <br>
        <br>

        <div class="container">
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}"> назад</a>
                    {% endif %}
                    <span class="current">
                        {{ posts.number }} из {{ posts.paginator.num_pages }}.
                    </span>
                    {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">вперед ></a>
                    {% endif %}
                </span>
            </div>
        </div>

    {% endblock %}    
    </main>

    <footer>
        <hr class="my-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'index' %}"><h1>Kangaroo</h1></a>
                </div>
                <div class="col-md-2">
                    <h5>title</h5>
                    <ul>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                        <li>link</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>title</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam ut</p>
                </div>
                <div class="col-md-2">
                    <h5>title</h5>
                </div>
                <div class="col-md-2">
                    <h5>title</h5>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>