<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Kangaroo</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes_flat.css">
    <link rel="stylesheet" href="{% static 'css/wrapper/wrapper.css' %}">
</head>
<style>
</style>
<body>
    <div class="container">
        <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1"></div>
            <div class="col-4 text-center">
                <h1 class="display-5"><a class="blog-header-logo text-dark" href="{% url 'index' %}">Kangaroo</a></h1>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a href="#" class="text-muted">
                    <a href="{% url 'search_list' %}" style="color: #6c757d;"><i class="fa fa-search" style="font-size:30; color: ##6c757d; margin-right: 15px;"></i></a>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Войти</a>
            </div>
        </div> 
    </header>
    <hr style="margin: 0">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{% url 'index' %}">Главная</a>
            <a class="p-2 text-muted" href="{% url 'category' %}">Категории</a>
            <a class="p-2 text-muted" href="{% url 'developers' %}">О нас</a>
            <a class="p-2 text-muted" href="{% url 'contacts' %}">Контакты</a>
            <a class="p-2 text-muted" href="{% url 'search_list' %}">Поиск</a>
        </nav>
    </div>
    </div>
    <!--<nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="row justify-content-md-cente">
                <div class="col-md-12">
                        <a class="navbar-brand" href="{% url 'index' %}">Kangaroo</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'developers' %}">О нас</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Ведите запрос" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </nav> -->

    {% block content %}
    <main>
        <div class=container>
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" >
                        <ol class="breadcrumb" >
                            <li class="breadcrumb-item active" aria-current="page" >Home</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        {% if last_post %}
        <div class="container">
            <div class="row justify-content-md-center">
                
                    <div class="col-md-12">
                            <div class="jumbotron p-3 p-md-5 rounded">
                                    <div class="col-md-8">
                                        <h1 class="display-4 font-italic">Последняя новость</h1>
                                    <p class="">{{ last_post.date }}</p>
                                    <p class="lead">{{ last_post.title | truncatechars:100 }}</p>
                                    <hr class="lead my-3">
                                    <p>{{ last_post.body | truncatechars:300}}</p>
                                    <p class="lead mb-0">
                                            
                                        <a class="font-weight-bold" href="{% url 'post_detail' pk=last_post.pk %}">Подробнее...</a>
                                    </p>
                                    </div>
                                </div>
                    </div>
                
            </div>
        </div>
        {% endif %}<div class="container">

                <div class="col-md-2">
                    <div class="banner">
                        <h1>Здесь могла бы быть ваша реклама</h1>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-8">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">Новости</h3>
                    {% if posts %}
                    {% for post in posts %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">{{ post.title }}</h2>
                        <p class="blog-post-meta">{{ post.date }}
                            {% if post.author %}| <i>{{ post.author }}</i>{% endif %}</p>
                        <p>{{ post.body | truncatechars:300}}</p>
                    <div align="right"><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info btn-rounded"> Это круто!</a>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info btn-rounded">Читать...</a>
                        </div></div>
                    {% endfor %}
                    {% endif %}
                </div>
                <aside class="col-md-4 blog-sidebar">
                    <div class="p-3 mb-3 bg-light rounded">
                        <h4>Kangaroo IT</h4>
                        <p class="mb-0">Информация в полном объеме!</p>
                    </div>
                </aside>
            </div>
        </div>

        <br>
        <br>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                        <a class="btn-outline-secondary" href="?page={{ posts.previous_page_number }}">
                            <button type="button" class="btn btn-outline-secondary">Назад</button>
                        </a>
                        {% endif %}
                        <span class="current">
                            <button type="button" class="btn btn-outline-secondary">
                                {{ posts.number }} из {{ posts.paginator.num_pages }}
                            </button>
                        </span>
                        {% if posts.has_next %}
                        <a class="btn-outline-secondary" href="?page={{ posts.next_page_number }}">
                            <button type="button" class="btn btn-outline-secondary">Дальше</button>
                        </a>
                        {% endif %}
                    </span>
                </div>

            </div>
        </div>
    </main>
    {% endblock %}

    <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
        <div class="container text-center text-md-left">

            <div class="row justify-content-around">
                <div class="col-md-4 ">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Kangaroo</h5>
                    <p>
                        <em>
                            <big>Информация в полном объеме!</big>
                        </em>
                    </p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 ">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ссылки</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'developers' %}">О нас </a>
                        </li>
                        <li>
                            <a href="{% url 'contacts' %}">Контакты </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 ">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Связь с нами</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://vk.com/kangarooteampy">Вконтакте</a>
                        </li>
                        <li>
                            <a href="https://t.me/joinchat/AAAAAEdPJa-dlGMb-hOFig">Телеграм</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

        <hr>

        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Регистрация</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Пока что не доступно</a>
            </li>
        </ul>

        <hr>

        <ul class="list-unstyled list-inline text-center footer_social">
            <li class="list-inline-item">
                <a href="https://vk.com/kangarooteampy" class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-google" style="font-size:48px; color: #dd4b39;"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://vk.com/kangarooteampy" class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-vk" style="font-size:48px; color: #4c75a3;"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://t.me/joinchat/AAAAAEdPJa-dlGMb-hOFig" class="btn-floating btn-li mx-1">
                    <i class="fa fa-telegram" style="font-size:48px; color: #0077b5"></i>
                </a>
            </li>
        </ul>
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href=""> Kangaroo Global Corporation</a>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes.min.js"></script>

</body>

</html>