<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Kangaroo</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/wrapper/wrapper.css' %}">
</head>
<style>
    .date {
  margin-left: 65%;
}
    .button_read {
        margin-left: 75%;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-brand">
            <a class="navbar-brand">
                <font face="Comic Sans MS">Kangaroo</font>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>

            <form class="form-inline" action="/search/" method="get">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Введите запрос" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            </form>

        </div>
    </nav>


    <main>
        {% block content %}
        <div class=container>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Последняя новость</h1>
                        <p>{{ last_post.date }}</p>
                        <p class="lead">{{ last_post.title | truncatechars:100 }}</p>
                        <hr class="my-4">
                        <p>{{ last_post.body | truncatechars:300}}</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="{% url 'post_detail' pk=last_post.pk %}" role="button">Узнать подробнее</a>
                        </p>
                    </div>

                    <hr class="my-4">
                </div>
            </div>
        </div>


        {% for post in posts %}
        <div class=container>
            <div class="row">
                <div class="col-md-10">
                    <div class="post">

                        <div class="container">
                            <div class="row">
                                <div class="title_block">
                                    <h4>{{ post.title | truncatechars:55 }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="img_block">
                            <h6>{{ post.body | truncatechars:100 }}</h6>
                        </div>

                        <div class="date">
                            <p>{{ post.date }}</p>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="button_read">
                                    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary btn-md">Читать…</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}

        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}"> назад</a>
                        {% endif %}
                        <span class="current">
                            {{ posts.number }} из {{ posts.paginator.num_pages }}.
                        </span>
                        {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">вперед ></a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

        {% endblock %}
    </main>

    <footer>
        <hr class="my-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'index' %}">
                        <h1><font face="Comic Sans MS">Kangaroo</font></h1>
                    </a>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>