
/* 
* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {

  flex: 1 0 auto; }

body a {
  color: lightslategray;
}

/* p {
  text-align: justify; }

.post {
  margin-top: 20px; } */


.search {
  margin-left: 30%;
}
 .imgpost {
  margin-left: 30%;
}
.navbar {
  margin: 5px 0;
}